{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h2>Yeni Giriş</h2>
          <div class="form-group">
            <form method="post">
              {% csrf_token %}
              <table>
                {{ form.as_p }}
              </table>
              <button type="submit" class="form-control btn btn-primary">
                Kaydet
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    var d = document.getElementById("yenig");
    d.className += " active";
  </script>
  {% endblock %}
</div>
